[submodule ".vim/.vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/.vim/bundle/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/.vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/.vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/bundle/nerdtree"]
	path = .vim/bundle/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/bundle/syntastic"]
	path = .vim/bundle/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/bundle/taglist.vim"]
	path = .vim/bundle/bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule ".vim/bundle/bundle/typescript-vim"]
	path = .vim/bundle/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/bundle/bundle/utilsnips"]
	path = .vim/bundle/bundle/utilsnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/bundle/bundle/vim-airline"]
	path = .vim/bundle/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/bundle/vim-airline-themes"]
	path = .vim/bundle/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/bundle/vim-colorschemes"]
	path = .vim/bundle/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/bundle/vim-flake8"]
	path = .vim/bundle/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/bundle/vim-prettier"]
	path = .vim/bundle/bundle/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule ".vim/bundle/bundle/vim-sourcertail"]
	path = .vim/bundle/bundle/vim-sourcertail
	url = git@github.com:CoatiSoftware/vim-sourcetrail.git
[submodule ".vim/bundle/bundle/YouCompleteMe"]
	path = .vim/bundle/bundle/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
