[submodule ".vim/.vim/bundle/ack.vim"]
	path = .vim/.vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/.vim/bundle/coc.nvim"]
	path = .vim/.vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/.vim/bundle/editorconfig-vim"]
	path = .vim/.vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/.vim/bundle/fzf.vim"]
	path = .vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
